:root {
	--primary-font-family: 'Roboto', Verdana, Tahoma, sans-serif;
	--secondary-font-family: 'Raleway', Verdana, Tahoma, sans-serif;
	--primary-text-color: #757575;
	--secondary-text-color: #212121;
	--primary-white-color: #FFFFFF;
	--accent-color: #2196F3;
	--icon-color: #AFB1B8;
	--secondary-background-color: #F5F4FA;

}